body {
    height: 100vh;
}

/*top navbar*/

.navbar-container {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 10vh;
}

.left {
    display: flex;
    justify-content: flex-start; 
    padding: 0.25em;
    margin: 0.25em;   
}

.right {
    display: flex;
    justify-content: flex-end;
    padding: 0.25em;
    margin: 0.25em;  
}

/*logo*/

.google-logo {
    width: 100vw;
    height: 20vh;
}

.img-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*search input*/

.search {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 7vh;
}

input {
    width: 38%;
    border: 1px solid lightgray;
    padding: 8px;
    border-radius: 50px;
}

/*buttons*/

.buttons {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 15vh;
}

button {
    background-color: #f8f9fa;
    padding: 12px;
    margin: 5px;
    border: 1px solid transparent;
    border-radius: 4px;
}


button:hover {
    border: 1px solid lightgray;
}

/*language blurb*/

.language {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 20vh;
}

/*footers*/

.footer1 {
    display: flex;
    justify-content: flex-start; 
    padding: 0.25em;  
    background-color: rgb(242 242 242);
    color: rgba(0,0,0,.54);
    width: 100vw;
    height: 5vh;
}

.footer2 {
    display: flex;
    justify-content: flex-start; 
    padding: 0.25em;
    margin: 0.25em;
    background-color: rgb(242 242 242);
    color: rgba(0,0,0,.54);
    width: 100vw;
    height: 5vh;
}